[Unit]
Description=AutoSSH tunnel service Remote port 6033 to local 3306
After=network.target

[Service]
User=pi
Environment="AUTOSSH_GATETIME=0"
ExecStart=/usr/bin/autossh -o "ServerAliveInterval 60" -o "ServerAliveCountMax 3" -M 20005 -N -R 6033:127.0.0.1:3306 ubuntu@ec2-3-15-194-100.us-east-2.compute.amazonaws.com

[Install]
WantedBy=multi-user.target
