[Unit]
Description=mining service that stores sensor data, automate mining operations. 
After=network.target

[Service]
WorkingDirectory=/home/pi/crypto_mining_stats/pi/mining
ExecStart=/home/pi/crypto_mining_stats/pi/mining/venv/bin/python3 /home/pi/crypto_mining_stats/pi/mining/__init__.py

[Install]
WantedBy=multi-user.target